
/*
#InfoArtRegion{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:1002;
  
  padding: 20px; 
}
*/

.tableDetalleArt{
  text-align: right;
}

#InfoArticulo{
  *background: #f7fce3;
  border-radius: 25px;
  *border: 1px solid #000;
  background-position: left top;
  background-repeat: repeat;
}

/*
#divCerrarInfoArt{
  float:right;
  background: #f7fce3;
}

#CerrarInfoArt{
  position: absolute;
  float: right;
}
*/

#ArtsRegion{
    position: absolute;
    top: 0;
    left: 0;
    z-index:1001;
}

#addPositionAbs{

}

.Opacar{
  opacity:.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}


#chartdata {
  *width: 900px;
  *max-width: 90%;
  *border: 2px solid #eee;
}

#chartdata table {
  *width: 90%;
  margin: 0 auto;
}

#tableTotales{
  text-align: right;
  align-content: right;
  margin: 0 auto;
  width: 100%;
}

#chartdataNombres table td {
  text-align: left;
}

.chartdataValores {
  text-align: right;
}

#chartdata table td {
   padding: 5px 7px; 
}

#chartdata table th{
  text-align: left;
  padding: 5px 7px;
}

#chartdata table th {
  background: #999;
  color: #fff;
}

#chartdata table td {
  border-bottom: 1px solid #eee;
}

#chartdata table td.row-title {
  font-weight: bold;
}

#chartdiv {
    width       : 100%;
    height      : 300px;
    font-size   : 11px;
}  

#selectores{
  *margin-left: 45%;
}

#btn-login{
  margin-left: 0px;
}

#piePagina{
  margin-top: 35%;
}

#antSig{
  font-size: 15px;
  margin-left: 40%;
}

.ui-menu { 
  width: 200px; 
}

.ui-widget-header { 
  padding: 0.2em; 
}

#busBoton {
  margin: 0;
}

#selectorMes {
    margin: 0;
}

#selectorVer{
  margin: 0;
}

#selectorGrafica{
   margin: 0;
}

#selectorAnio {
    margin: 0;
}

#content {
  width: 480px;
  margin: 0 auto;
}

#logoSait {
    width: 150px;
    height: 80px;
}

#logoMd3 {
    width:150px;
    height: 80px;
}

#logoMd3Login{
    
    width: 200px;
}


#contenedor {
  width:120px;
  height:120px;
  display: none;
}
#contenedor2 {
  width:150px;
  height:150px;
  display: none;
}
#contenedor3 {
  width:150px;
  height:150px;
  display: none;
}
.loader {
  font-size: 20px;
  margin: 45% auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #09F, 2em -2em 0 0em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 0em #09F;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #09F, 2em -2em 0 0.2em #09F, 3em 0em 0 0em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 0em #09F, 3em 0em 0 0.2em #09F, 2em 2em 0 0em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 0em #09F, 2em 2em 0 0.2em #09F, 0em 3em 0 0em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 0em #09F, 0em 3em 0 0.2em #09F, -2em 2em 0 0em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 0em #09F, -2em 2em 0 0.2em #09F, -3em 0em 0 0em #09F, -2em -2em 0 -0.5em #09F;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 0em #09F, -3em 0em 0 0.2em #09F, -2em -2em 0 0em #09F;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 0em #09F, -3em 0em 0 0em #09F, -2em -2em 0 0.2em #09F;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #09F, 2em -2em 0 0em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 0em #09F;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #09F, 2em -2em 0 0.2em #09F, 3em 0em 0 0em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 0em #09F, 3em 0em 0 0.2em #09F, 2em 2em 0 0em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 0em #09F, 2em 2em 0 0.2em #09F, 0em 3em 0 0em #09F, -2em 2em 0 -0.5em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 0em #09F, 0em 3em 0 0.2em #09F, -2em 2em 0 0em #09F, -3em 0em 0 -0.5em #09F, -2em -2em 0 -0.5em #09F;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 0em #09F, -2em 2em 0 0.2em #09F, -3em 0em 0 0em #09F, -2em -2em 0 -0.5em #09F;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 0em #09F, -3em 0em 0 0.2em #09F, -2em -2em 0 0em #09F;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #09F, 2em -2em 0 -0.5em #09F, 3em 0em 0 -0.5em #09F, 2em 2em 0 -0.5em #09F, 0em 3em 0 -0.5em #09F, -2em 2em 0 0em #09F, -3em 0em 0 0em #09F, -2em -2em 0 0.2em #09F;
  }
}
