/*
 * Style tweaks
 * --------------------------------------------------
 */
 
html,
body {
  overflow-x: hidden; 
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; 
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; 
  }

  .row-offcanvas-right.active {
    right: 50%; 
  }

  .row-offcanvas-left.active {
    width: 100%;
    left: 100%; 
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%; 
    
  }
}

